<ion-content [fullscreen]="true">

    <div id="container">
        <div class="search_container" #searchContainer>
            <div class="top-search-tools">
                <!-- <ng-select class="search-comuni-select" [items]="comuni" bindLabel="descProgrammaOperativo"
                    [addTag]="false" [multiple]="false" [searchFn]="searchComune" [hideSelected]="false"
                    [minTermLength]="2" [virtualScroll]="true" (change)="onComuneChange($event)"
                    [placeholder]="'home.comune'|transloco" [typeToSearchText]="" [(ngModel)]="comuneSelezionato">

                </ng-select> -->
                <div #tipologieFilter class="horizontal_scroll_flex">
                    <ion-chip mode="md" class="filter_chip chip_selected" (click)="onChipClick(meter)"
                        [attr.data-filterPropertyValue]="meter.mood"
                        [attr.data-mood]="meter.mood"
                        data-filterPropertyName="mood"
                        *ngFor="let meter of meters">
                        <ion-label>{{meter.nome}}</ion-label>
                        <ion-icon name="ellipse" color="dark"></ion-icon>
                    </ion-chip>
                    <!-- <a [routerLink]="['/','advanced-search']"> -->
                    <!-- <ion-chip mode="md" class="filter_chip advanced_search" (click)="openSearchModal()">
                        <ion-icon class="advanced_seach_icon" name="ellipsis-horizontal-outline"></ion-icon>
                    </ion-chip> -->
                    <!-- </a> -->
                </div>
                <ion-fab-button (click)="onUserLocationClick()" id="user_locator">
                    <ion-icon name="locate-outline"></ion-icon>
                </ion-fab-button>
            </div>
        </div>
        <div #mapContainer id="mapContainer">
            <mgl-map #homeMap [attributionControl]="false" [style]="mapStyle" [zoom]="[9]" (mapLoad)="mapLoaded($event)"
                (zoomEnd)="mapZoomEnd($event)" (mapDragEnd)="onDragEnd($event)" [center]="[12.5510662,45.6331619]">
                <mgl-geojson-source id="strutture" *ngIf="metersGeoJson.features.length" [data]="metersGeoJson" promoteId="nome">
                </mgl-geojson-source>

                <mgl-layer [minzoom]="10" id="strutture-label-layer" *ngIf="metersGeoJson.features.length" type="symbol" source="strutture"
                    [layout]="struttureLabelLayout" [paint]="labelPaint">
                </mgl-layer>

                <mgl-layer id="strutture-layer" type="circle" source="strutture" *ngIf="metersGeoJson.features.length" [paint]="struttureCirclePaint">
                </mgl-layer>
            </mgl-map>
        </div>
        <swiper #swiperStrutture [slidesPerView]="1.5" [ngClass]="{'visible_slides': meters.length}"
            [noSwiping]="false" [allowTouchMove]="true" [centeredSlides]="true" [spaceBetween]="10" [virtual]="true"
            (slideChange)="onSlideChange($event)">
            <ng-container *ngFor="let meter of meters;">
                <ng-template class="struttura_slide" swiperSlide *transloco="let t">
                    <ion-grid class="ion-no-margin">
                        <ion-row class="ion-no-margin">
                            <ion-col class="ion-no-margin">
                                <h5 class="struttura_slide_titolo">{{meter.nome | titlecase}} </h5>
                            </ion-col>
                        </ion-row>
                        <!-- <a [routerLink]="['/','detail',meter.nome]">
                        </a> -->
                        <ion-row class="ion-no-margin">
                            <ion-col class="ion-no-margin">
                                <div class="struttura_slide_tipologia">{{'mood_'+meter.mood | transloco | titlecase}}</div>
                            </ion-col>
                        </ion-row>
                       

                    </ion-grid>
                </ng-template>
            </ng-container>
        </swiper>
        <div class="about_btn_container" #aboutBtnContainer>
            <ion-button shape="round" size="small" color="light" (click)="openAboutModal()">
                <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
            </ion-button>
        </div>
    </div>
</ion-content>